<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Fio Crud Basic List</title>
</head>
<link rel="stylesheet" href="/css/styles.css">
<body>
	<table>
	    <colgroup> 
	    	<col style="width: 10%;"/>
	        <col style="width: 60%;"/>
	        <col style="width: 10%;"/>
	        <col style="width: 20%;"/>
	    </colgroup>
		<thead>
		    <tr>
		        <th>번호</th>
		        <th>파일이름</th>
		        <th>확장자</th>
		        <th>파일크기(byte)</th>
		    </tr>
	    </thead>
	    <tbody>
		    <tr th:each="list: ${list}">
		    	<td th:text="${list.listNo}"></td>
				<td><a th:text="${list.name}" th:href="@{|/fio/crud/basic/read/${list.name}|}"></a></td>
				<td th:text="${list.extension}"></td>
				<td th:text="${list.size}"></td>
		    </tr>
	    </tbody>
	    <tfoot>
			<tr>
				<td><a href="/fio/crud/basic/create"><button>글작성</button></a></td>
			</tr>
	    </tfoot>
	</table>
</body>
</html>