<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Db Search Basic List</title>
</head>
<link rel="stylesheet" href="/css/styles.css">
<body>
	<table>
	    <colgroup> 
	    	<col style="width: 10%;"/>
	        <col style="width: 40%;"/>
	        <col style="width: 20%;"/>
	        <col style="width: 20%;"/>
	        <col style="width: 10%;"/>
	    </colgroup>
		<thead>
		    <tr>
		        <th>번호</th>
		        <th>제목</th>
		        <th>이름</th>
		        <th>날짜</th>
		        <th>조회</th>
		    </tr>
	    </thead>
	    <tbody>
		    <tr th:each="list: ${list}">
		        <td th:text="${list.idx}"></td>
		        <td th:text="${list.title}"></td>
				<td th:text="${list.username}"></td>
				<td th:text="${list.datetime}"></td>
		        <td th:text="${list.hit}"></td>
		    </tr>
	    </tbody>
	    <tfoot>
			<tr>
				<td colspan="5">
					<form action="/tmpl/db/search/basic/list" method="post">
						<select name="searchOption"  th:with="searchOption=${search.searchOption}">
							<option value="title"    th:selected="${searchOption == 'title'}"  >title</option>
							<option value="content"  th:selected="${searchOption == 'content'}">content</option>
							<option value="username" th:selected="${searchOption == 'username'}">username</option>
						</select>
						<input type="text" name="searchKeyword" th:value="${search.searchKeyword}">
						<input type="date" name="searchDateStart"> ~
						<input type="date" name="searchDateEnded">
						<input type="submit" value="검색">
					</form>
				</td>
			</tr>
	    </tfoot>
	</table>
</body>
</html>