<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Fio Board Basic List</title>
</head>
<link rel="stylesheet" href="/css/styles.css">
<body>
	<table border="1">
	    <colgroup> 
	    	<col style="width: 10%;"/>
	        <col style="width: 45%;"/>
	    	<col style="width: 15%;"/>
	        <col style="width: 10%;"/>
	        <col style="width: 20%;"/>
	    </colgroup>
		<thead>
		    <tr>
		        <th>그룹번호</th>
		        <th>파일명</th>
		        <th>크기</th>
		        <th>번호</th>
		        <th>날짜</th>
		    </tr>
	    </thead>
	    <tbody>
		    <tr th:each="list: ${list}">
				<td th:if="${list.groupIdx != null}" th:text="${list.groupIdx}" th:attr="rowspan=${list.groupCount}"></td>
				<td th:text="${list.name}"></td>
				<td th:text="${list.size}"></td>
				<td th:text="${list.seq}"></td>
				<td th:text="${list.datetime}"></td>
		    </tr>
	    </tbody>
	    <tfoot>
	    	<tr>
	    		<td colspan="5">
					<form action="/template/fio/board/basic/upload" method="post" enctype="multipart/form-data">
						<input type="file" name="upload" multiple>
						<input type="submit" value="다중파일 업로드">
					</form>
	    		</td>
	    	</tr>
	    </tfoot>
	</table>
</body>
</html>