<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DbCrud">
	<select id="list" resultType="dlk.wti.spring.db.crud.dto.DbCrudDTO">
			SELECT 
			       idx,
			       title,
			       content,
			       name,
			       datetime,
			       hit
			FROM crud
	</select>
	
	<insert id="create" parameterType="dlk.wti.spring.db.crud.dto.DbCrudDTO">
			INSERT INTO crud (
				title,
				content,
				name,
				datetime,
				hit
			)
			values (
				#{title},
				#{content},
				#{name},
				datetime('now', 'localtime'),
				'0'
			)
	</insert>
	
	<update id="updateHit" parameterType="String">
		UPDATE crud set hit = hit + 1 WHERE idx = #{idx}
	</update>
	
	<select id="read" resultType="dlk.wti.spring.db.crud.dto.DbCrudDTO" parameterType="String">
		SELECT 
			idx,
			title,
			content,
			name,
			datetime,
			hit
		FROM crud
		WHERE idx = #{idx}
	</select>
	
	<update id="update" parameterType="dlk.wti.spring.db.crud.dto.DbCrudDTO">
		UPDATE crud SET
		      title    = #{title}
		    , name     = #{name}
		    , content  = #{content}
	    WHERE idx = #{idx}
	</update>
	
	<delete id="delete" parameterType="String">
		DELETE FROM crud WHERE idx = #{idx}
	</delete>
</mapper>