<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UixPagination">
	<select id="list" resultType="dlk.wti.spring.uix.pagination.dto.UixPaginationDTO">
			SELECT idx
			     , title
			     , content
			     , username
			     , datetime
			     , hit
			  FROM post_board
		  ORDER BY idx DESC
			 LIMIT #{postsPerPage} OFFSET #{pageStart}
	</select>
	
	<select id="count" resultType="int">
		SELECT Count(*) AS cnt FROM post_board
	</select>
</mapper>